<nz-modal nzWidth="70%" [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzTitle]="'Formulaire - Modification'"
    [nzContent]="modalBody" [nzFooter]="modalFooter" (nzOnCancel)="closeModal()">
    <ng-template #modalBody>
        <app-access-denied *ngIf="!(membreFamilleSrv.resourceName|editable)"></app-access-denied>
        <form #form="ngForm" novalidate>
            <div class="row">
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Prenoms</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.prenoms" name="prenoms" id="prenoms"
                            #prenoms="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="prenoms">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Nom</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.nom" name="nom" id="nom" #nom="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="nom">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>DateNaissance</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="entity.dateNaissance"
                            name="dateNaissance" id="dateNaissance" #dateNaissance="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateNaissance">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>LieuNaissance</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.lieuNaissance" name="lieuNaissance"
                            id="lieuNaissance" #lieuNaissance="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="lieuNaissance">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Genre</tc-form-label>
                        <tc-radio [direction]="'horizontal'" required="required" [(ngModel)]="entity.genre" name="genre"
                            id="genre" #genre="ngModel">
                            <tc-radio-option [value]="'Homme'">Homme</tc-radio-option>
                            <tc-radio-option [value]="'Femme'">Femme</tc-radio-option>
                        </tc-radio>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="genre">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="entity?.genre">
                    <tc-form-group>
                        <tc-form-label>Lien Parenté</tc-form-label>
                        <tc-radio required="required" [(ngModel)]="entity.lienParente" name="lienParente"
                            id="lienParente" #lienParente="ngModel" [direction]="'horizontal'">
                            <tc-radio-option [hidden]="entity?.genre!='Homme'" [value]="'époux'">Epoux</tc-radio-option>
                            <tc-radio-option [hidden]="entity?.genre!='Femme'" [value]="'épouse'">Epouse
                            </tc-radio-option>
                            <tc-radio-option [hidden]="entity?.genre!='Homme'" [value]="'fils'">Fils</tc-radio-option>
                            <tc-radio-option [hidden]="entity?.genre!='Femme'" [value]="'fille'">Fille</tc-radio-option>
                        </tc-radio>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="lienParente">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="entity?.lienParente=='époux' || entity?.lienParente=='épouse'">
                    <tc-form-group>
                        <tc-form-label>Date du mariage</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="entity.dateMariage" name="dateMariage"
                            id="dateMariage" #dateMariage="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateMariage">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Telephone</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.telephone" name="telephone" id="telephone"
                            #telephone="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="telephone">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <div class="actions justify-content-between">
            <button beforeIcon="icofont-close" class="pull-right" tc-button [type]="'button'"
                (click)="closeModal()">Fermer</button>
            <button type="button" class="float-right" (click)="update()" beforeIcon="icofont-save" tc-button
                view="warning">
                Mettre à jour
            </button>
        </div>
    </ng-template>
</nz-modal>
<app-access-denied *ngIf="!(membreFamilleSrv.resourceName|editable)"></app-access-denied>