<nz-collapse *ngIf="contratSrv.resourceName|listable" [nzAccordion]="true">
  <nz-collapse-panel nzHeader="Liste des contrats" [nzActive]="true">
    <div class="row">
      <div class="col-12">
        <tc-card>
          <app-contrat-new [employe]="employe" *ngIf="employe" (creation)="onCreate($event)">
          </app-contrat-new>
          <button class="float-right" tc-button afterIcon="icofont-refresh"
            (click)="findByEmploye()">Rafraichir</button>
        </tc-card>
      </div>
      <div class="col-12">
        <tc-table [itemsPerPage]="10" [rows]="items" [hovered]="true" [pagination]="true">
          <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
            <ng-template #tableTDTemplate let-row="row">
              <div class="actions">
                <button *ngIf="contratSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'"
                  [view]="'warning'" [square]="true" [tcShape]="500" [size]="'sm'"
                  (click)="setSelectedContrat(row)"></button>
                <button *ngIf="contratSrv.resourceName|deletable" (click)="remove(row)" tc-button
                  [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500"
                  [size]="'sm'"></button>
              </div>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Type contrat'" [columnName]="'typeContrat'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value" title="{{ value?.nom }}">{{ value?.code }}</span>
              <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Date début'" [columnName]="'dateDebut'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
              <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Durée en mois'" [columnName]="'dureeEnMois'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value }}</span>
              <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Date signature'" [columnName]="'dateSignature'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
              <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Date fin prévu '" [columnName]="'dateFinPrevue'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
              <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Etat'" [columnName]="'etat'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="badge badge-warning" *ngIf="value">Invalide</span>
              <span class="badge badge-success" *ngIf="!value">En cours</span>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Motif fin contrat'" [columnName]="'motifFin'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value }}</span>
              <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Date fin effective'" [columnName]="'dateFinEffective'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
              <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Commentaire sur fin contrat'" [columnName]="'commentaireSurFinContrat'"
            [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value }}</span>
              <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
        </tc-table>
      </div>
    </div>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="Chronologie" [nzActive]="false">
    <app-contrat-timeline *ngIf="employe && this.items?.length" [employe]="employe"></app-contrat-timeline>
  </nz-collapse-panel>
</nz-collapse>
<app-contrat-edit *ngIf="selectedContrat" [selectedContrat]="selectedContrat" (modification)="findByEmploye()"
  (onClose)="onClose()"></app-contrat-edit>
<app-empty-table-message *ngIf="!items.length"></app-empty-table-message>

<app-access-denied *ngIf="!(contratSrv.resourceName|listable)"></app-access-denied>