<div *ngIf="!loading">
    <tc-form-group *ngIf="canSwitchDiagramType">
        <tc-form-label>Type de graphe</tc-form-label>
        <nz-select nzAllowClear nzShowSearch style="width: 100%" name="typeDiagram" id="typeDiagram"
            nzPlaceHolder="Selectionner type diagram" [(ngModel)]="selectedTypeDiagram">
            <ng-container *ngFor="let diagramType of typeDiagrams">
                <nz-option [nzLabel]="diagramType?.title" [nzValue]="diagramType?.value">
                </nz-option>
            </ng-container>
        </nz-select>
    </tc-form-group>
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [plugins]="chartPlugins"
        [legend]="chartLegend" [chartType]="selectedTypeDiagram">
    </canvas>
    <hr class="m-2">
    <tc-card view="accent" [outline]="true">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th>Grades
                    </th>
                    <th *ngFor="let label of chartLabels">{{label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of chartData">
                    <td scope="row">{{item.label}}</td>
                    <td *ngFor="let val of item.data">{{val}}</td>
                </tr>
            </tbody>
        </table>
    </tc-card>
</div>

