<button *ngIf="fonctionEmployeSrv.resourceName|creable" tc-button [afterIcon]="'icofont-plus'" [view]="'accent'"
  [square]="true" (click)="openModal()"></button>
<app-access-denied *ngIf="!(fonctionEmployeSrv.resourceName|creable)"></app-access-denied>

<!-- Modal window -->
<nz-modal nzWidth="80%" [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzTitle]="'Formulaire - Nouveau'"
  [nzContent]="modalBody" [nzFooter]="modalFooter" (nzOnCancel)="closeModal()">
  <ng-template #modalBody>
    <form #form="ngForm" ngNativeValidate>
      <div class="row">
        <div class="col-12 col-md-6">
          <tc-form-group>
            <tc-form-label>Fonction</tc-form-label>
            <nz-select [required]="true" name="fonction" id="fonction" #fonction="ngModel"
              nzPlaceHolder="Selectionner la fonction occupée" nzAllowClear nzShowSearch [(ngModel)]="selectedFonction">
              <ng-container *ngFor="let fonction of fonctions">
                <nz-option [nzValue]="fonction" [nzLabel]="fonction.nom"></nz-option>
              </ng-container>
            </nz-select>
            <tc-form-description>
              <app-form-field-validation-message [formField]="fonction"></app-form-field-validation-message>
            </tc-form-description>
          </tc-form-group>
        </div>
        <div class="col-12 col-md-6">
          <tc-form-group>
            <tc-form-label>Structure</tc-form-label>
            <nz-select [required]="true" name="structure" id="structure" #structure="ngModel"
              nzPlaceHolder="Selectionner la structure" nzAllowClear nzShowSearch [(ngModel)]="selectedStructure">
              <ng-container *ngFor="let structure of structures">
                <nz-option [nzValue]="structure" [nzLabel]="structure.nom+' ('+structure.code+')'"></nz-option>
              </ng-container>
            </nz-select>
            <tc-form-description>
              <app-form-field-validation-message [formField]="structure"></app-form-field-validation-message>
            </tc-form-description>
          </tc-form-group>
        </div>
        
        <div class="col-12 col-md-6">
          <tc-form-group>
            <tc-form-label>Date Prise Fonction</tc-form-label>
            <nz-date-picker [required]="true" [nzFormat]="'dd/MM/yyyy'" required="required"
              [(ngModel)]="entity.datePriseFonction" name="datePriseFonction" id="datePriseFonction"
              #datePriseFonction="ngModel"></nz-date-picker>
            <tc-form-description>
              <app-form-field-validation-message [formField]="datePriseFonction"></app-form-field-validation-message>
            </tc-form-description>
          </tc-form-group>
        </div>
        <div class="col-12 col-md-6">
          <tc-form-group>
            <tc-form-label>En cours ?</tc-form-label>
            <tc-switcher [bgColor]="['transparent', 'transparent', '#ed5564']"
              [borderColor]="['#ed5564', '#ed5564', '#ed5564']" [color]="['#ed5564', '#ed5564', '#fff']"
              [labelColor]="['#000', '#000', '#ed5564']" [(ngModel)]="entity.etat" name="etat" id="etat"
              #etat="ngModel"></tc-switcher>
            <tc-form-description>
              <app-form-field-validation-message [formField]="etat"></app-form-field-validation-message>
            </tc-form-description>
          </tc-form-group>
        </div>
        <div [hidden]="entity.etat" class="col-12 col-md-6">
          <tc-form-group>
            <tc-form-label>Date Fin fonction</tc-form-label>
            <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="entity.dateFin"
              name="dateFin" id="dateFin" #dateFin="ngModel"></nz-date-picker>
            <tc-form-description>
              <app-form-field-validation-message [formField]="dateFin"></app-form-field-validation-message>
            </tc-form-description>
          </tc-form-group>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button beforeIcon="icofont-close" class="pull-right" tc-button [type]="'button'" [view]="'error'"
        (click)="closeModal()">Fermer</button>
      <button [disabled]="form.invalid" [disabled]="form.invalid" (click)="save()" [afterIcon]="'icofont-save'"
        tc-button [view]="'accent'">
        Enregistrer
      </button>
    </div>
  </ng-template>
</nz-modal>
<!-- end Modal window -->