
@import '~src/assets/scss/variables';

$_module-rem: $module-rem;
$_bg: #fff;
$_shape: $shape;
$_shadow: $shadow;
$_shadow-hover: $shadow-hover;
$_animation: $animation;
$_sl-color: inherit;
$_sl-color-hover: accent-palette(500);

.title {
  margin: 2px;
  background-color: white;
}

.custom-card {
  background: $_bg;
  border-radius: $_shape;
  box-shadow: $_shadow;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  transition: box-shadow .2s $_animation;
}

:host {
  .actions {
    display: flex;
    margin: -$module-rem / 4;

    .tc-btn {
      margin: $module-rem / 4;
    }
  }
}