@import "~src/assets/scss/variables";

.main {
   background-color: #F7F7F7; 
}

.profile-view {
    position: relative;
}

.profile-info-left {
    border-right: none;
    border-bottom: 2px dashed #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.personal-info {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}