@import "~src/assets/scss/variables";

.personal-info {
    list-style-type: none;
    .info-line {
        margin: 2px;
        padding: 2px;
        .title {
            font-weight: bold;
        }
        .content {
            align-items: left;
        }
    }
}

.employe-status-card {
    margin-top: 3px;
    justify-content: center;
}

.table-scrollable{
    display: block;
overflow-x: auto;
white-space: nowrap;
}