@import "~src/assets/scss/variables";

.det-item {
    margin: 15px;
    margin-bottom: 20px;
   // padding: 15px;
    font-size: 17px;
    display: inline;
    //border-right: 2px solid #dadce3;
    .det-label {
        font-weight: bold;
        margin-right: 2px;
        // text-decoration: underline;
    }
    .det-content {
    }
}
