<div class="row" *ngIf="employeSrv.resourceName|showable">
    <div class="col-12">
        <tc-card class="mb-1">
            <div class="row">
                <div class="col-12 col-md-3 col-lg-2">
                    <img (click)="fileInput.click()"
                        [src]="entity?.filepath ? entity?.filepath:'assets/img/default-profile-picture1.jpg'"
                        alt="photo employé" style="width: 100%;">
                    <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>
                    <div class="employe-status-card">
                        <ng-container *ngIf="!entity?.etat">
                            <tc-badge class="nowrap" size="sm" view="error">Statut: Inactif</tc-badge>
                            <br>
                            <span *ngIf="entity?.motifSortie"
                                class="badge badge-info mt-1">{{entity?.motifSortie}}</span>
                            <p *ngIf="entity?.commentaireSortie">{{entity?.commentaireSortie}}</p>
                        </ng-container>

                        <tc-badge view="success nowrap" *ngIf="entity?.etat">Statut: En service</tc-badge>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-5" style="border-right: 2px dashed blue;">
                    <div [ngStyle]="{'color': sidebarBg}" style="font-size: large; font-weight: bolder;" class="mb-1">
                        {{titre+' '+entity?.prenoms+' '+entity?.nom}} - {{entity?.matricule}}</div>
                    <div [ngStyle]="{'color': sidebarBg}">{{entity?.structure?.nom}}</div>
                    <div style="font-weight: bold;">{{ entity?.profession?.nom}}</div>
                    <div [ngStyle]="{'color': sidebarBg}" style="font-size: large;" class="m-1">
                        {{latestFonction?.responsabilite?.fonction?.nom}}
                    </div>
                    <hr [ngStyle]="{'background-color': sidebarBg}" class="m-1">
                    <ul class="personal-info">
                        <li class="info-line">
                            <div class="row">
                                <div class="col-6 col-md-5 title">Date Naissance:</div>
                                <div class="col-6 col-md-7 content">{{entity?.dateNaissance|date:'dd/MM/yyyy'}}</div>
                            </div>
                        </li>
                        <li class="info-line">
                            <div class="row">
                                <div class="col-6 col-md-5 title">Lieu Naissance:</div>
                                <div class="col-6 col-md-7 content">{{entity?.lieuNaissance}}</div>
                            </div>
                        </li>
                        <li class="info-line">
                            <div class="row">
                                <div class="col-6 col-md-5 title">Situation Matrimoniale:</div>
                                <div class="col-6 col-md-7 content">{{entity?.situtationMatrimoniale}}</div>
                            </div>
                        </li>
                        <li class="info-line">
                            <div class="row">
                                <div class="col-6 col-md-5 title">Numéro Pièce:</div>
                                <div class="col-6 col-md-7 content">{{entity?.cni}}</div>
                            </div>
                        </li>
                        <li class="info-line">
                            <div class="row">
                                <div class="col-6 col-md-5 title">Nationalité:</div>
                                <div class="col-6 col-md-7 content">{{entity?.nationalite?.nationalite}}</div>
                            </div>
                        </li>
                        <li class="info-line">
                            <div class="row">
                                <div class="col-6 col-md-5 title">Date Recrutement:</div>
                                <div class="col-6 col-md-7 content">{{entity?.dateRecrutement|date:'dd/MM/yyyy'}}</div>
                            </div>
                        </li>
                        <li class="info-line">
                            <div class="row">
                                <div class="col-6 col-md-5 title">Date Prise Fonction:</div>
                                <div class="col-6 col-md-7 content">{{entity?.datePriseService|date:'dd/MM/yyyy'}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12 justify-content-center">
                                <button size="sm" *ngIf="employeSrv.resourceName|editable"
                                    [routerLink]="['/'+orientation,employeSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
                                    class="float-right ml-1" tc-button view="warning"
                                    beforeIcon="icofont-edit"></button>
                                <button size="sm" (click)="remove(entity)" *ngIf="employeSrv.resourceName|deletable"
                                    tc-button view="error" beforeIcon="icofont-trash"
                                    class=" float-right ml-1"></button>
                                <button size="sm" (click)="findEntity(entity.id)" class="float-right ml-1" tc-button
                                    view="accent" beforeIcon="icofont-refresh"></button>
                                <button size="sm" tc-button class="float-right" (click)="location.back()"
                                    beforeIcon="icofont-reply"></button>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr [ngStyle]="{'background-color': sidebarBg}" class="m-1">
                        </div>
                        <div class="col-12">
                            <ul class="personal-info">
                                <li class="info-line">
                                    <div class="row">
                                        <div class="col-6 col-md-5 title">Téléphone Primaire:</div>
                                        <div class="col-6 col-md-7 content"><a
                                                href="tel:{{entity?.telephonePrimaire}}">{{entity?.telephonePrimaire}}</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="info-line">
                                    <div class="row">
                                        <div class="col-6 col-md-5 title">Téléphone Secondaire:</div>
                                        <div class="col-6 col-md-7 content"><a
                                                href="tel:{{entity?.telephoneSecondaire}}">{{entity?.telephonePrimaire}}</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="info-line">
                                    <div class="row">
                                        <div class="col-6 col-md-5 title">Email Perso:</div>
                                        <div class="col-6 col-md-7 content"><a
                                                href="mailto:{{entity?.email}}">{{entity?.email}}</a></div>
                                    </div>
                                </li>
                                <li class="info-line">
                                    <div class="row">
                                        <div class="col-6 col-md-5 title">Email Universitaire:</div>
                                        <div class="col-6 col-md-7 content"><a
                                                href="mailto:{{entity?.emailUniv}}">{{entity?.emailUniv}}</a></div>
                                    </div>
                                </li>
                                <li class="info-line" *ngIf="isAdresseLoaded && entity">
                                    <div class="row mt-2">
                                        <div class="col-12 title">
                                            Adresses
                                        </div>
                                        <div class="col-12">
                                            <app-adresse-list [employe]="entity"></app-adresse-list>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </tc-card>
        <table class="table table-bordered mt-1">
            <tr>
                <th>Caisse Sociale</th>
                <td>
                    <span *ngIf="entity?.caisseSociale" [title]="entity?.caisseSociale?.nom">{{
                        entity?.caisseSociale?.code }}</span>
                    <tc-badge size="sm" view="error" *ngIf="!entity?.caisseSociale">Indéfinie</tc-badge>
                </td>
                <th>Matricule Caisse Sociale</th>
                <td>
                    <span *ngIf="entity?.matriculeCaisseSociale">{{ entity?.matriculeCaisseSociale}}</span>
                    <tc-badge size="sm" view="error" *ngIf="!entity?.matriculeCaisseSociale">Indéfinie</tc-badge>
                </td>
                <th>Mutuelle de Santé</th>
                <td>
                    <span *ngIf="entity?.mutuelleSante" [title]="entity?.mutuelleSante?.nom">{{
                        entity?.mutuelleSante?.code }}</span>
                    <tc-badge size="sm" view="error" *ngIf="!entity?.mutuelleSante">Indéfinie</tc-badge>
                </td>
                <th>N° Main d'Oeuvre</th>
                <td>
                    <span *ngIf="entity?.numeroMainOeuvre">{{ entity?.numeroMainOeuvre }}</span>
                    <tc-badge size="sm" view="error" *ngIf="!entity?.numeroMainOeuvre">Indéfinie</tc-badge>
                </td>
                <th>N° Aff. Iprès</th>
                <td>
                    <span *ngIf="entity?.numeroAffiliationIpres">{{ entity?.numeroAffiliationIpres
                        }}</span>
                    <tc-badge size="sm" view="error" *ngIf="!entity?.numeroAffiliationIpres">Indéfinie</tc-badge>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <nz-tabset nzSize="small" style="width: 100%;">
            <nz-tab (nzSelect)="loadFamillesTab()" nzTitle="Familles">
                <app-membrefamille-list *ngIf="entity && isFamilleLoaded" [employe]="entity">
                </app-membrefamille-list>
            </nz-tab>
            <nz-tab (nzSelect)="loadDocumentsTab()" nzTitle="Documents">
                <app-document-list *ngIf="entity && isDocumentsLoaded" [employe]="entity"></app-document-list>
            </nz-tab>
            <nz-tab (nzSelect)="loadDiplomesTab()" nzTitle="Diplomes/Formation">
                <app-diplomeemploye-list *ngIf="entity && isDiplomeLoaded" [employe]="entity">
                </app-diplomeemploye-list>
            </nz-tab>
            <nz-tab (nzSelect)="loadContratsTab()" nzTitle="Contrats">
                <app-contrat-list *ngIf="entity && isContratLoaded" [employe]="entity">
                </app-contrat-list>
            </nz-tab>
            <nz-tab (nzSelect)="loadAffectationsTab()" nzTitle="Affectations">
                <app-affectation-list *ngIf="entity && isAffectationLoaded" [employe]="entity">
                </app-affectation-list>
            </nz-tab>
            <nz-tab (nzSelect)="loadFonctionsTab()" nzTitle="Fonctions & Responsabilités">
                <app-fonctionemploye-list *ngIf="entity && isFonctionsLoaded" [employe]="entity">
                </app-fonctionemploye-list>
            </nz-tab>
            <nz-tab nzTitle="Syndicats & amicales">
                <app-membresyndicat-list *ngIf="entity && isSyndicatsLoaded" [employe]="entity">
                </app-membresyndicat-list>
            </nz-tab>
        </nz-tabset>
    </div>
</div>
<app-access-denied *ngIf="!(employeSrv.resourceName|showable)"></app-access-denied>