<tc-card *ngIf="employeSrv.resourceName|listable" [tcGradient]="lightGradient">
  <tc-card [view]="secondViewBorder" [outline]="true">
    <div class="row">
      <div class="col-12">
        <button class="float-right" tc-button afterIcon="icofont-refresh" (click)="findAll()">Rafraichir</button>
      </div>
    </div>
  </tc-card>
  <tc-table [itemsPerPage]="10" [rows]="items" [hovered]="true" [pagination]="true" [search]="true">
    <tc-table-col [columnTitle]="'#'" [columnName]="'#'">
      <ng-template #tableTDTemplate let-row="row">
        <i class="icofont-data icofont-2x"></i>
      </ng-template>
    </tc-table-col>
                                    <tc-table-col [columnTitle]="'Prenoms'" [columnName]="'prenoms'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'Nom'" [columnName]="'nom'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'DateNaissance'" [columnName]="'dateNaissance'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'LieuNaissance'" [columnName]="'lieuNaissance'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'Cni'" [columnName]="'cni'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'Matricule'" [columnName]="'matricule'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'MatriculeCaisseSociale'" [columnName]="'matriculeCaisseSociale'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'DateRecrutement'" [columnName]="'dateRecrutement'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'SitutationMatrimoniale'" [columnName]="'situtationMatrimoniale'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'Retraite'" [columnName]="'retraite'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'Genre'" [columnName]="'genre'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'Etat'" [columnName]="'etat'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'EmailUniv'" [columnName]="'emailUniv'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'Email'" [columnName]="'email'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'Filename'" [columnName]="'filename'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'Filepath'" [columnName]="'filepath'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'TelephonePrimaire'" [columnName]="'telephonePrimaire'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                                <tc-table-col [columnTitle]="'TelephoneSecondaire'" [columnName]="'telephoneSecondaire'" [enableSorting]="true">
                <ng-template #tableTDTemplate let-value>
                    <span class="nowrap" *ngIf="value">{{ value }}</span>
                    <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
                </ng-template>
            </tc-table-col>
                <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button *ngIf="employeSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'" [view]="'warning'" [square]="true" [tcShape]="500"
            [size]="'sm'" [routerLink]="[row.id,'edit']"></button>
          <button *ngIf="employeSrv.resourceName|clonable" [outline]="true" tc-button [afterIcon]="'icofont-copy'" [square]="true" [tcShape]="500"
            [size]="'sm'" [routerLink]="[row.id,'clone']"></button>
          <button *ngIf="employeSrv.resourceName|deletable" (click)="remove(row)" tc-button [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500"
            [size]="'sm'"></button>
          <button *ngIf="employeSrv.resourceName|showable" tc-button [afterIcon]="'icofont-eye-open'" [view]="'accent'" [square]="true" [tcShape]="500"
            [size]="'sm'" [routerLink]="[row.id]"></button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
  <app-empty-table-message *ngIf="!items.length" ></app-empty-table-message>
  <app-employe-new (creation)="onCreate($event)"></app-employe-new>
</tc-card>
<app-access-denied *ngIf="!(employeSrv.resourceName|listable)"></app-access-denied>
