<div class="row d-flex justify-content-center">
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
       <app-type-employe-stats></app-type-employe-stats>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
        <app-anciennete-employe></app-anciennete-employe>
    </div>
    <div class="col-12 col-sm-12 col-lg-8 col-xl-12">
        <app-profession-stats></app-profession-stats>
    </div>
    <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
        <app-structure-stats></app-structure-stats>
    </div>
</div>