<div class="row d-flex justify-content-center">
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
        <tc-card [view]="'accent'" [outline]="true">
            <app-type-employe-stats></app-type-employe-stats>
        </tc-card>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
        <tc-card [view]="'accent'" [outline]="true">
            <app-anciennete-employe></app-anciennete-employe>
        </tc-card>
    </div>
    <div class="col-12 col-sm-12 col-lg-8 col-xl-12">
        <tc-card [view]="'accent'" [outline]="true">
            <app-profession-stats></app-profession-stats>
        </tc-card>
    </div>
    <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
        <tc-card [view]="'accent'" [outline]="true">
            <app-structure-stats></app-structure-stats>
        </tc-card>
    </div>
    <div class="col-12 col-sm-12 col-lg-6">
        <tc-card [view]="'accent'" [outline]="true">
            <app-type-contrat-actif-stats></app-type-contrat-actif-stats>
        </tc-card>
    </div>
</div>