<div class="row">
  <div class="col col-12">
    Nombre d'employé(s) par catégorie - <a href="javascript:void(0)" (click)="getEmployeCountStatistics()">charger les
      données</a>
    <hr>
  </div>
  <div class="col col-12 col-md-6 col-xl-3" *ngFor="let employeCountItem of tabCountEmploye">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-01s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon [tcColor]="'rgba(51,108,251,0.5)'" [tcFontSize]="48" [iconClass]="'icofont-first-aid-alt'"
            [padding]="0"></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1">{{employeCountItem?.type?.code}}</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{employeCountItem?.nbreEmploye}}</div>
        </div>
      </div>
    </tc-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <tc-form-group>
      <tc-form-label>Type d'employé</tc-form-label>
      <nz-select nzMode="multiple" (nzOpenChange)="fetchTypeEmployes()" (ngModelChange)="findStatsByType($event)" nzAllowClear
        nzShowSearch  style="width: 100%" name="typeEmploye" id="typeEmploye"
        nzPlaceHolder="Selectionner le type d'employe" [(ngModel)]="selectedTypeEmploye">
        <ng-container *ngFor="let typeEmploye of typeEmployes">
          <nz-option *ngIf="!fetching" [nzLabel]="typeEmploye.nom" [nzValue]="typeEmploye">
          </nz-option>
        </ng-container>
        <nz-option *ngIf="fetching" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i> Veuillez patienter...
        </nz-option>
      </nz-select>
    </tc-form-group>
  </div>
</div>


<tc-card [title]="'Suivi Recrutement'" *ngIf="selectedTypeEmploye.length">
  <div echarts [options]="hsOptions" class="chat-container container-h-400"></div>
</tc-card>

<div class="row" *ngIf="selectedTypeEmploye.length">
  <div class="col col-12 col-md-6">
    <tc-card>
      <h4 class="mt-0 mb-1">$25038</h4>
      <p class="mb-0" [tcColor]="'#9d9d9d'">Income in current month</p>

      <div echarts [options]="piOptions" class="chat-container"></div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6">
    <tc-card>
      <h4 class="mt-0 mb-1">$2195</h4>
      <p class="mb-0" [tcColor]="'#9d9d9d'">Income in current week</p>

      <div echarts [options]="heOptions" class="chat-container"></div>
    </tc-card>
  </div>
  <div class="col col-12 col-md-4">
    <tc-card [title]="'Age'">
      <div echarts [options]="paOptions" class="chat-container container-h-300"></div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-4" >
    <tc-card [title]="'Genre'">
      <div echarts [options]="pgOptions" class="chat-container container-h-300"></div>
    </tc-card>
  </div>


   <div class="col col-12 col-md-4">
    <tc-card [title]="'Caisse Sociale'">
      <div echarts [options]="dOptions" class="chat-container container-h-300"></div>
    </tc-card>
  </div>
</div>

<tc-card [title]="'Last appointments'" class="mb-0">
  <tc-table [rows]="appointments" [hovered]="true" [pagination]="true">
    <tc-table-col [columnTitle]="'Photo'" [columnName]="'img'">
      <ng-template #tableTDTemplate let-value>
        <tc-avatar [src]="value"></tc-avatar>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Name'" [columnName]="'name'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <strong>{{ value }}</strong>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Email'" [columnName]="'email'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#336cfb'">
          <tc-icon [iconClass]="'icofont-ui-email'" [tcFontSize]="16" [padding]="0" class="mr-1"></tc-icon> {{ value }}
        </span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Date'" [columnName]="'date'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Visit time'" [columnName]="'fromTo'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Number'" [columnName]="'number'">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#336cfb'">
          <tc-icon [iconClass]="'icofont-ui-cell-phone'" [tcFontSize]="16" [padding]="0" class="mr-1"></tc-icon>
          {{ value }}
        </span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Doctor'" [columnName]="'doctor'" [enableSorting]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'Injury / Condition'" [columnName]="'injury'" [enableSorting]="true"></tc-table-col>
  </tc-table>
</tc-card>