<div class="row">
  <div class="col col-12 col-md-6 col-xl-2" [ngClass]="{'col-xl-3': isFirst || isLast}" *ngFor="let employeCountItem of tabCountEmploye; let isFirst = first; let isLast= last;">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-01s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon [tcColor]="sidebarBg" [tcFontSize]="48" [iconClass]="'icofont-ui-user-group'" [padding]="0">
          </tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1">{{employeCountItem?.type?.code}}</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{employeCountItem?.nbreEmploye}}</div>
        </div>
      </div>
    </tc-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <tc-form-group>
      <tc-form-label>Visualisation</tc-form-label>
      <nz-select nzAllowClear nzShowSearch style="width: 100%" name="typeStat" id="typeStat"
        nzPlaceHolder="Selectionner les informations à visualiser" [(ngModel)]="selectedStatType">
        <ng-container *ngFor="let statType of statTypes">
          <nz-option [nzLabel]="statType.title" [nzValue]="statType">
          </nz-option>
        </ng-container>
      </nz-select>
    </tc-form-group>
  </div>
</div>

<tc-card [title]="selectedStatType?.title" >
  <app-recrutement-stats-view-main *ngIf="selectedStatType?.code === 'SR'" ></app-recrutement-stats-view-main>
  <app-grade-stats-view-main *ngIf="selectedStatType?.code === 'GR'" ></app-grade-stats-view-main>
  <app-employe-stats-view-main *ngIf="selectedStatType?.code === 'EM'" ></app-employe-stats-view-main>
  <app-diplome-main-dashboard *ngIf="selectedStatType?.code === 'SSDF'"></app-diplome-main-dashboard>
</tc-card>