<div class="row">
  <div class="col col-12">
    Nombre d'employés par catégorie
    <hr>
  </div>
  <div class="col col-12 col-md-6 col-xl-3" *ngFor="let employeCountItem of tabCountEmploye">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-01s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon [tcColor]="'rgba(51,108,251,0.5)'" [tcFontSize]="48" [iconClass]="'icofont-first-aid-alt'"
            [padding]="0"></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1">{{employeCountItem?.type?.code}}</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{employeCountItem?.nbreEmploye}}</div>
        </div>
      </div>
    </tc-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <tc-form-group>
      <tc-form-label>Visualisation</tc-form-label>
      <nz-select nzAllowClear nzShowSearch style="width: 100%" name="typeStat"
        id="typeStat" nzPlaceHolder="Selectionner les informations à visualiser" [(ngModel)]="selectedStatType">
        <ng-container *ngFor="let statType of statTypes">
          <nz-option [nzLabel]="statType.title" [nzValue]="statType">
          </nz-option>
        </ng-container>
      </nz-select>
    </tc-form-group>
  </div>
</div>

<tc-card [title]="'Suivi Recrutement'" *ngIf="selectedStatType?.code === 'SR'">
  <div class="row">
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
      <app-recrutement-type></app-recrutement-type>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
      <app-recrutement-genre></app-recrutement-genre>
    </div>
  </div>

</tc-card>

