
<div class="row">
    <div >
                    
       <tc-card *ngIf="items" [outline]="true" [view]="secondViewBorder"  [title]='titre' [tcGradient]="secondGradient" >
        <div class="table-responsive -sm">
            <table  style="width: 100%;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">CNI</th>
                    
                  </tr>
                </thead>
               
                  <tr *ngFor="let employe of items" >
                    <th scope="col" > <img [src]="employe?.filepath ? employe?.filepath:'assets/img/default-profile-picture1.jpg'"
                      alt="photo employé" style="width: 50px;" class="rounded-circle">
                    </th>
                    <td>
                      <span *ngIf="employe?.matricule">{{employe?.matricule}}</span>
                      <span class="badge badge-danger" *ngIf="!employe?.matricule">Indefinie</span>
                    </td>
                    <td><span *ngIf="employe?.prenoms">{{employe?.prenoms}}</span>
                    <span class="badge badge-danger" *ngIf="!employe?.prenoms"></span></td>
                    <td> <span *ngIf="employe?.nom">{{employe?.nom}}</span>
                    <span class="badge badge-danger" *ngIf="!employe?.nom" >Indefinie</span></td>
                    <td ><span *ngIf="employe?.cni">{{employe?.cni}}</span>
                    <span  class="badge badge-danger" *ngIf="!employe?.cni">Indefinie</span></td>
                  </tr>
    
                </table>
    
           </div>
         </tc-card>
    </div>
</div>
       
     
