
      
<tc-card *ngIf="employeSrv.resourceName|listable" [tcGradient]="lightGradient">
  <tc-card [view]="secondViewBorder" [outline]="true">
      <div class="row">
          <div class="col-12">
              <button class="float-right" tc-button afterIcon="icofont-refresh"
                  (click)="findByMutuelleSante()">Rafraichir</button>
          </div>
      </div>
   
  </tc-card>
  <tc-card [view]="secondViewBorder" [outline]="true">
      
    <h3>Liste des Membres</h3>
              <tc-table   [itemsPerPage]="15" [rows]="items" [hovered]="true"  [pagination]="true" [search]="true">
                
                  <tc-table-col [columnTitle]="'#'" [columnName]="'filepath'">
                      <ng-template #tableTDTemplate let-row="row" let-value>
                          <a [routerLink]="['/',orientation,employeSrv.getRoutePrefixWithoutSlash(),row?.id]" routerLinkActive="router-link-active">
                              <i *ngIf="!value" class="icofont-data icofont-2x"></i>
                              <tc-avatar *ngIf="value" [src]="value"></tc-avatar>
                          </a>
                      </ng-template>
                  </tc-table-col>
                  <tc-table-col [columnTitle]="'Prénoms'" [columnName]="'prenoms'" [enableSorting]="true">
                      <ng-template #tableTDTemplate let-value let-row="row">
                          <span class="nowrap" *ngIf="value">
                              <a [routerLink]="['/',orientation,employeSrv.getRoutePrefixWithoutSlash(),row?.id]" routerLinkActive="router-link-active">{{ value }}</a>
                          </span>
                          <tc-badge view="error" [outline]="true" *ngIf="!value">Indéfinie</tc-badge>
                      </ng-template>
                  </tc-table-col>
                  <tc-table-col [columnTitle]="'Nom'" [columnName]="'nom'" [enableSorting]="true">
                      <ng-template #tableTDTemplate let-value>
                          <span class="nowrap" *ngIf="value">{{ value }}</span>
                          <tc-badge view="error" [outline]="true" *ngIf="!value">Indéfinie</tc-badge>
                      </ng-template>
                  </tc-table-col>
                  
                  
                  <tc-table-col [columnTitle]="'CNI/Passeport'" [columnName]="'cni'" [enableSorting]="true">
                      <ng-template #tableTDTemplate let-value>
                          <span class="nowrap" *ngIf="value">{{ value }}</span>
                          <tc-badge view="error" [outline]="true" *ngIf="!value">Indéfinie</tc-badge>
                      </ng-template>
                  </tc-table-col>
                  <tc-table-col [columnTitle]="'Matricule'" [columnName]="'matricule'" [enableSorting]="true">
                      <ng-template #tableTDTemplate let-value>
                          <span class="nowrap" *ngIf="value">{{ value }}</span>
                          <tc-badge view="error" [outline]="true" *ngIf="!value">Indéfinie</tc-badge>
                      </ng-template>
                  </tc-table-col>
                          
              </tc-table>
        
      
  </tc-card>

</tc-card>
<app-access-denied *ngIf="!(employeSrv.resourceName|listable)"></app-access-denied>