<tc-card *ngIf="membreFamilleSrv.resourceName|showable" [tcGradient]="lightGradient">
    <tc-card [view]="secondViewBorder" [outline]="true" [padding]="0.5">
        <div class="row">
            <div class="d-none d-md-block col-md-1">
                <i class="icofont icofont-data icofont-4x"></i>
            </div>
            <div class="col-12 col-md-7">
                <blockquote class="blockquote">
                    <p class="mb-0">{{title}}</p>
                    <footer class="blockquote-footer"> <cite title="Source Title">sous titre</cite></footer>
                </blockquote>
            </div>
            <div class="col-12 col-md-4">
                <button *ngIf="membreFamilleSrv.resourceName|editable"
                    [routerLink]="['/'+orientation,membreFamilleSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
                    class="float-right ml-1" tc-button view="warning" beforeIcon="icofont-edit"></button>
                <button (click)="remove(entity)" *ngIf="membreFamilleSrv.resourceName|deletable" tc-button
                    view="error" beforeIcon="icofont-trash" class=" float-right ml-1"></button>
                <button (click)="findEntity(entity.id)" class="float-right ml-1" tc-button view="accent"
                    beforeIcon="icofont-refresh"></button>
                <button tc-button class="float-right" (click)="location.back()"
                    beforeIcon="icofont-reply"></button>
            </div>
        </div>
    </tc-card>
    <div class="row">
        <div class="col-12 col-md-4">
            <tc-card [outline]="true" [view]="secondViewBorder" [title]="title" [tcGradient]="secondGradient">
                <table class="table">
                                                                                                <tr>
                            <th>Prenoms</th>
                            <td>
                                <span *ngIf="entity?.prenoms">{{ entity?.prenoms }}</span>
                                <tc-badge view="error" *ngIf="!entity?.prenoms">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>Nom</th>
                            <td>
                                <span *ngIf="entity?.nom">{{ entity?.nom }}</span>
                                <tc-badge view="error" *ngIf="!entity?.nom">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>DateNaissance</th>
                            <td>
                                <span *ngIf="entity?.dateNaissance">{{ entity?.dateNaissance }}</span>
                                <tc-badge view="error" *ngIf="!entity?.dateNaissance">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>LieuNaissance</th>
                            <td>
                                <span *ngIf="entity?.lieuNaissance">{{ entity?.lieuNaissance }}</span>
                                <tc-badge view="error" *ngIf="!entity?.lieuNaissance">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>Genre</th>
                            <td>
                                <span *ngIf="entity?.genre">{{ entity?.genre }}</span>
                                <tc-badge view="error" *ngIf="!entity?.genre">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>LienParente</th>
                            <td>
                                <span *ngIf="entity?.lienParente">{{ entity?.lienParente }}</span>
                                <tc-badge view="error" *ngIf="!entity?.lienParente">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>Telephone</th>
                            <td>
                                <span *ngIf="entity?.telephone">{{ entity?.telephone }}</span>
                                <tc-badge view="error" *ngIf="!entity?.telephone">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                    </table>
            </tc-card>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(membreFamilleSrv.resourceName|showable)"></app-access-denied>