<nz-modal nzWidth="70%" [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzTitle]="'Formulaire - Modification'"
    [nzContent]="modalBody" [nzFooter]="modalFooter" (nzOnCancel)="closeModal()">
    <ng-template #modalBody>
        <app-access-denied *ngIf="!(contratSrv.resourceName|editable)"></app-access-denied>
        <form #form="ngForm" novalidate>
            <div class="row">
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Type de contrat</tc-form-label>
                        <nz-select [required]="true" name="typeContrat" id="typeContrat" #typeContrat="ngModel"
                            nzPlaceHolder="Selectionner le type de contrat" nzAllowClear nzShowSearch
                            [(ngModel)]="selectedTypeContratId" (ngModelChange)="handleTypeContratChange($event)">
                            <ng-container *ngFor="let typeContratItem of typeContrats">
                                <nz-option [nzValue]="typeContratItem.id" [nzLabel]="typeContratItem.nom"></nz-option>
                            </ng-container>
                        </nz-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="typeContrat">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Date de début</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" type="Date" [(ngModel)]="entity.dateDebut"
                            (ngModelChange)="handleDateDebutChange($event)" name="dateDebut" id="dateDebut"
                            #dateDebut="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateDebut">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="selectedTypeContrat?.code !='CDI'">
                    <tc-form-group>
                        <tc-form-label>Durée en mois</tc-form-label>
                        <tc-input [(ngModel)]="entity.dureeEnMois" type="number"
                            (ngModelChange)="handleDureeChange($event)" name="dureeEnMois" id="dureeEnMois"
                            #dureeEnMois="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dureeEnMois">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="selectedTypeContrat?.code !='CDI'">
                    <tc-form-group>
                        <tc-form-label>Date fin prévue</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" type="Date" [(ngModel)]="entity.dateFinPrevue"
                            name="dateFinPrevue" id="dateFinPrevue" #dateFinPrevue="ngModel" nzDisabled></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateFinPrevue">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Date de signature</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" type="Date" [(ngModel)]="entity.dateSignature"
                            name="dateSignature" id="dateSignature" #dateSignature="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateSignature">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Etat</tc-form-label>
                        <tc-switcher [(ngModel)]="entity.etat" name="etat" id="etat" #etat="ngModel"
                            [bgColor]="['transparent', 'transparent', '#ed5564']"
                            [borderColor]="['#ed5564', '#ed5564', '#ed5564']" [color]="['#ed5564', '#ed5564', '#fff']">
                        </tc-switcher>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="etat"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="!entity.etat">
                    <tc-form-group>
                        <tc-form-label>Date fin effective</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" type="Date" [(ngModel)]="entity.dateFinEffective"
                            name="dateFinEffective" id="dateFinEffective" #dateFinEffective="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateFinEffective">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="!entity.etat">
                    <tc-form-group>
                        <tc-form-label>Motif fin contrat</tc-form-label>
                        <tc-select required="required" [(ngModel)]="entity.motifFin" name="motifFin" id="motifFin"
                            #motifFin="ngModel" [placeholder]="'Selectionner le motif de fin du contrat'"
                            [options]="motifFinContrats">
                        </tc-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="motifFin">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="!entity.etat">
                    <tc-form-group>
                        <tc-form-label>Commentaire fin contrat</tc-form-label>
                        <tc-textarea [(ngModel)]="entity.commentaireSurFinContrat" type="text"
                            name="commentaireSurFinContrat" id="commentaireSurFinContrat"
                            #commentaireSurFinContrat="ngModel">
                        </tc-textarea>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="commentaireSurFinContrat">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <div class="actions justify-content-between">
            <button beforeIcon="icofont-close" class="pull-right" tc-button [type]="'button'"
                (click)="closeModal()">Fermer</button>
            <button type="button" class="float-right" (click)="update()" beforeIcon="icofont-save" tc-button
                view="warning">
                Mettre à jour
            </button>
        </div>
    </ng-template>
</nz-modal>
<app-access-denied *ngIf="!(contratSrv.resourceName|editable)"></app-access-denied>