<tc-card *ngIf="entity && contratSrv.resourceName|editable" [tcGradient]="lightGradient">
    <form #form="ngForm" novalidate>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions justify-content-between">
                <button [outline]="true" type="button" (click)="location.back()" tc-button
                    beforeIcon="icofont-reply">Retour</button>
                <button (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button type="button"
                    view="accent" class="float-right">Rafraichir</button>
            </div>
        </tc-card>
        <tc-card title="Détails" [outline]="true" [view]="secondViewBorder" [tcGradient]="secondGradient">
            <div class="row">
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>DureeEnMois</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.dureeEnMois" name="dureeEnMois"
                            id="dureeEnMois" #dureeEnMois="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dureeEnMois">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>DateRupture</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.dateRupture" name="dateRupture"
                            id="dateRupture" #dateRupture="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateRupture">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>MotifRupture</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.motifRupture" name="motifRupture"
                            id="motifRupture" #motifRupture="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="motifRupture">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Expire</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.expire" name="expire" id="expire"
                            #expire="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="expire"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Rompu</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.rompu" name="rompu" id="rompu"
                            #rompu="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="rompu"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
        </tc-card>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions">
                <button [outline]="true" type="button" (click)="location.back()" tc-button view="error"
                    beforeIcon="icofont-close">Annuler</button>
                <button type="button" [disabled]="form.invalid" class="float-right" (click)="update()"
                    beforeIcon="icofont-save" tc-button view="warning">
                    Mettre à jour
                </button>
                <button class="float-right mr-1" (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button
                    type="button" view="success">Rafraichir</button>
            </div>
        </tc-card>
    </form>
</tc-card>
<app-access-denied *ngIf="!(contratSrv.resourceName|editable)"></app-access-denied>