<button tc-button [afterIcon]="'icofont-plus'" *ngIf="contratSrv.resourceName|creable" [view]="'accent'" [square]="true"
    [tcShape]="500" (click)="openModal()"></button>
<app-access-denied *ngIf="!(contratSrv.resourceName|creable)"></app-access-denied>

<!-- Modal window -->
<nz-modal nzWidth="80%" [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzTitle]="'Formulaire - Nouveau'"
    [nzContent]="modalBody" [nzFooter]="modalFooter" (nzOnCancel)="closeModal()">
    <ng-template #modalBody>
        <form #form="ngForm" ngNativeValidate>
            <div class="row">
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Type contrat</tc-form-label>
                        <nz-select style="width: 100%" nzPlaceHolder="Sélectionner type contrat" nzAllowClear
                            nzShowSearch [(ngModel)]="selectedTypeContrat" name="typeContrat" id="typeContrat"
                            #typeContrat="ngModel">
                            <ng-container *ngFor="let typeContratItem of typeContrats">
                                <nz-option [nzValue]="typeContratItem" [nzLabel]="typeContratItem.nom"></nz-option>
                            </ng-container>
                        </nz-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="typeContrat">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Date de début</tc-form-label>
                        <nz-date-picker (ngModelChange)="handleDateDebutChange($event)" [nzFormat]="'dd/MM/yyyy'"
                            [(ngModel)]="entity.dateDebut" name="dateDebut" id="dateDebut" #dateDebut="ngModel">
                        </nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateDebut">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="selectedTypeContrat?.code !='CDI'">
                    <tc-form-group>
                        <tc-form-label>Durée en mois</tc-form-label>
                        <tc-input (ngModelChange)="handleDureeChange($event)" type="number"
                            [(ngModel)]="entity.dureeEnMois" name="dureeEnMois" id="dureeEnMois" #dureeEnMois="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dureeEnMois">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="selectedTypeContrat?.code !='CDI'">
                    <tc-form-group>
                        <tc-form-label>Date Fin prévue</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="entity.dateFinPrevue"
                            name="dateFinPrevue" id="dateFinPrevue" #dateFinPrevue="ngModel" disabled></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateFinPrevue">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Date de signature</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="entity.dateSignature"
                            name="dateSignature" id="dateSignature" #dateSignature="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateSignature">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Etat</tc-form-label>
                        <tc-switcher [(ngModel)]="entity.etat" name="etat" id="etat" #etat="ngModel"
                            [bgColor]="['transparent', 'transparent', '#ed5564']"
                            [borderColor]="['#ed5564', '#ed5564', '#ed5564']" [color]="['#ed5564', '#ed5564', '#fff']">
                        </tc-switcher>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="etat"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="!entity.etat">
                    <tc-form-group>
                        <tc-form-label>Motif de fin du contrat</tc-form-label>
                        <tc-select required="required" [(ngModel)]="entity.motifFin" name="motifFin"
                            id="motifFin" #motifFin="ngModel" [placeholder]="'Selectionner le motif du fin de contrat'"
                            [options]="motifFinContrats">
                        </tc-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="motifFin">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="!entity.etat">
                    <tc-form-group>
                        <tc-form-label>Date de fin effective</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" required="required" [(ngModel)]="entity.dateFinEffective"
                            name="dateFinEffective" id="dateFinEffective" #dateFinEffective="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateFinEffective">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="!entity.etat">
                    <tc-form-group>
                        <tc-form-label>Commentaire sur le fin du contrat</tc-form-label>
                        <tc-textarea [(ngModel)]="entity.commentaireSurFinContrat" name="commentaireSurFinContrat"
                            id="commentaireSurFinContrat" #commentaireSurFinContrat="ngModel"> </tc-textarea>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="commentaireSurFinContrat">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
            <div class="col-md-12" *ngIf="entity.etat">
                <table>
                    <tr>
                        <th>Motif de fin contrat</th>
                        <th>Date de fin effectif</th>
                        <th>Commentaire sur le contrat</th>
                    </tr>
                    <tr>
                        <td>{{contratActif.motifFin}}</td>
                        <td>{{contratActif.dateFinEffective|date:'dd/MM/yyyy' }}</td>
                        <td>{{contratActif.commentaireSurFinContrat}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <div class="actions justify-content-between">
            <button beforeIcon="icofont-close" class="pull-right" tc-button [type]="'button'" [view]="'error'"
                (click)="closeModal()">Fermer</button>
            <button [disabled]="form.invalid" [disabled]="form.invalid" (click)="save()" [afterIcon]="'icofont-save'"
                tc-button [view]="'accent'">
                Enregistrer
            </button>
        </div>
    </ng-template>
</nz-modal>
<!-- end Modal window -->