<button tc-button [afterIcon]="'icofont-plus'" *ngIf="contratSrv.resourceName|creable" [view]="'accent'" [square]="true"
    [tcShape]="500" (click)="openModal()"></button>
<app-access-denied *ngIf="!(contratSrv.resourceName|creable)"></app-access-denied>

<!-- Modal window -->
<nz-modal nzWidth="80%" [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzTitle]="'Formulaire - Nouveau'"
    [nzContent]="modalBody" [nzFooter]="modalFooter" (nzOnCancel)="closeModal()">
    <ng-template #modalBody>
        <form #form="ngForm" ngNativeValidate>
            <div class="row">
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Type contrat</tc-form-label>
                        <nz-select style="width: 100%" nzPlaceHolder="Sélectionner type contrat" nzAllowClear
                            nzShowSearch [(ngModel)]="selectedTypeContrat" name="typeContrat" id="typeContrat"
                            #typeContrat="ngModel">
                            <ng-container *ngFor="let typeContratItem of typeContrats">
                                <nz-option [nzValue]="typeContratItem" [nzLabel]="typeContratItem.nom"></nz-option>
                            </ng-container>
                        </nz-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="typeContrat">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Date de début</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="entity.dateDebut"
                            name="dateDebut" id="dateDebut" #dateDebut="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateDebut">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="selectedTypeContrat?.code !='CDI'">
                    <tc-form-group>
                        <tc-form-label>Durée en mois</tc-form-label>
                        <tc-input type="number" [(ngModel)]="entity.dureeEnMois" name="dureeEnMois" id="dureeEnMois"
                            #dureeEnMois="ngModel"></tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dureeEnMois">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="selectedTypeContrat?.code !='CDI'">
                    <tc-form-group>
                        <tc-form-label>Date Fin</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="entity.dateFin"
                            name="dateFin" id="dateFin" #dateFin="ngModel" disabled></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateFin">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Date de signature</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="entity.dateSignature"
                            name="dateSignature" id="dateSignature" #dateSignature="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateSignature">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="!entity.rompu">
                    <tc-form-group>
                        <tc-form-label>Expiration</tc-form-label>
                        <tc-switcher [(ngModel)]="entity.expire" name="expire" id="expire" #expire="ngModel"
                            [bgColor]="['transparent', 'transparent', '#ed5564']"
                            [borderColor]="['#ed5564', '#ed5564', '#ed5564']" [color]="['#ed5564', '#ed5564', '#fff']">
                        </tc-switcher>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="expire"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="!entity.expire">
                    <tc-form-group>
                        <tc-form-label>Rompu</tc-form-label>
                        <tc-switcher [(ngModel)]="entity.rompu" name="rompu" id="rompu" #rompu="ngModel"
                            [bgColor]="['transparent', 'transparent', '#ed5564']"
                            [borderColor]="['#ed5564', '#ed5564', '#ed5564']" [color]="['#ed5564', '#ed5564', '#fff']">
                        </tc-switcher>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="rompu"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="entity.rompu">
                    <tc-form-group>
                        <tc-form-label>Date de rupture</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" required="required" [(ngModel)]="entity.dateRupture"
                            name="dateRupture" id="dateRupture" #dateRupture="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateRupture">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="entity.rompu">
                    <tc-form-group>
                        <tc-form-label>Motif de rupture</tc-form-label>
                        <tc-textarea [(ngModel)]="entity.motifRupture" name="motifRupture" id="motifRupture"
                            #motifRupture="ngModel"> </tc-textarea>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="motifRupture">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <div class="actions justify-content-between">
            <button beforeIcon="icofont-close" class="pull-right" tc-button [type]="'button'" [view]="'error'"
                (click)="closeModal()">Fermer</button>
            <button [disabled]="form.invalid" [disabled]="form.invalid" (click)="save()" [afterIcon]="'icofont-save'"
                tc-button [view]="'accent'">
                Enregistrer
            </button>
        </div>
    </ng-template>
</nz-modal>
<!-- end Modal window -->