<tc-card *ngIf="commissionSrv.resourceName|listable" [tcGradient]="lightGradient">
  <tc-card [view]="secondViewBorder" [outline]="true">
    <div class="row">
      <div class="col-12">
        <button class="float-right" tc-button afterIcon="icofont-refresh" (click)="findAll()">Rafraichir</button>
      </div>
    </div>
  </tc-card>
  <tc-table [itemsPerPage]="10" [rows]="items" [hovered]="true" [pagination]="true" [search]="true">
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button *ngIf="commissionSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'"
            [view]="'warning'" [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id,'edit']"></button>
          <button *ngIf="commissionSrv.resourceName|deletable" (click)="remove(row)" tc-button
            [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
          <button *ngIf="commissionSrv.resourceName|showable" tc-button [afterIcon]="'icofont-eye-open'"
            [view]="'accent'" [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id]"></button>
        </div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Nom'" [columnName]="'nom'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" *ngIf="value">{{ value }}</span>
        <tc-badge [outline]="true" view="error" *ngIf="!value">Indéfinie</tc-badge>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Missions'" [columnName]="'missions'" [enableSorting]="true">
      <ng-template #tableTDTemplate  let-value>
        <div *ngIf="value" [innerHTML]="value">{{ value }}</div>
        <tc-badge [outline]="true" view="error" *ngIf="!value">Indéfinie</tc-badge>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Etat'" [columnName]="'etat'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <tc-badge [outline]="true" view="success" *ngIf="value">Actif</tc-badge>
        <tc-badge [outline]="true" view="error" *ngIf="!value">Inactif</tc-badge>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Date de création'" [columnName]="'dateCreation'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
        <tc-badge [outline]="true" view="error" *ngIf="!value">Indéfinie</tc-badge>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Description'" [columnName]="'description'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <div *ngIf="value" [innerHTML]="value">{{ value }}</div>
        <tc-badge [outline]="true" view="error" *ngIf="!value">Indéfinie</tc-badge>
      </ng-template>
    </tc-table-col>
  </tc-table>
  <app-empty-table-message *ngIf="!items.length"></app-empty-table-message>
  <app-commission-new (creation)="onCreate($event)"></app-commission-new>
</tc-card>
<app-access-denied *ngIf="!(commissionSrv.resourceName|listable)"></app-access-denied>