<tc-card *ngIf="caisseSocialeSrv.resourceName|showable" [tcGradient]="lightGradient">
    <div class="row">
        <div class="col-12 col-md-4" style="height:100px; align-items: center;">
            <tc-card [outline]="true" [view]="secondViewBorder" [title]="title" [tcGradient]="secondGradient">
                <div class="row">
                    <div class="col-12">
                         <img class="card-img-top" (click)="fileInput.click()" [src]="entity?.filepath ? entity?.filepath:'assets/img/default-profile-picture1.jpg'" alt="Image caisse sociale">
                         <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>
                   </div>
                   <div class="col-12">
                       <table class="table">
                           <tr>
                               <th>Nom</th>
                               <td>
                                   <span *ngIf="entity?.nom">{{ entity?.nom }}</span>
                                   <tc-badge view="error" *ngIf="!entity?.nom">Indéfinie</tc-badge>
                               </td>
                           </tr>
                           <tr>
                               <th>Code</th>
                               <td>
                                   <span *ngIf="entity?.code">{{ entity?.code }}</span>
                                   <tc-badge view="error" *ngIf="!entity?.code">Indéfinie</tc-badge>
                               </td>
                           </tr>
                           <tr>
                               <td colspan="2">
                                   <div class="col-12 col-md-10">
                                       <button *ngIf="caisseSocialeSrv.resourceName|editable"
                                           [routerLink]="['/'+orientation,caisseSocialeSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
                                           class="float-right ml-1" tc-button view="warning"
                                           beforeIcon="icofont-edit"></button>
                                       <button (click)="remove(entity)" *ngIf="caisseSocialeSrv.resourceName|deletable"
                                           tc-button view="error" beforeIcon="icofont-trash"
                                           class=" float-right ml-1"></button>
                                       <button (click)="findEntity(entity.id)" class="float-right ml-1" tc-button view="accent"
                                           beforeIcon="icofont-refresh"></button>
                                       <button tc-button class="float-right" (click)="location.back()"
                                           beforeIcon="icofont-reply"></button>
                                   </div>
                               </td>
                           </tr>
                       </table>
                   </div>
                </div>
            </tc-card>
        </div>
        <div class="col-12 col-md-8">
            <app-membre-caisse-sociale *ngIf="entity" [caisseSociale]="entity" [orientation]="orientation"></app-membre-caisse-sociale>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(caisseSocialeSrv.resourceName|showable)"></app-access-denied>