<tc-card *ngIf="structureFonctionSrv.resourceName|listable" [tcGradient]="lightGradient">
  <tc-card [view]="secondViewBorder" [outline]="true">
    <div class="row">
      <div class="col-12">
        <button class="float-right" tc-button afterIcon="icofont-refresh" (click)="findAll()">Rafraichir</button>
      </div>
    </div>
  </tc-card>
  <tc-table [itemsPerPage]="10" [rows]="items" [hovered]="true" [pagination]="true" [search]="true">
    <tc-table-col [columnTitle]="'#'" [columnName]="'#'">
      <ng-template #tableTDTemplate let-row="row">
        <i class="icofont-stamp icofont-2x"></i> &nbsp;
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Fonction'" [columnName]="'fonction'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value let-row>
        <span class="nowrap">{{ value?.nom }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Etat'" [columnName]="'etat'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-row="row" let-value>
        <tc-switcher [value]="value" (valueChanged)="onChange($event, row)" name="etat" id="etat"
          [bgColor]="['transparent', 'transparent', '#ed5564']" [borderColor]="['#ed5564', '#ed5564', '#ed5564']"
          [color]="['#ed5564', '#ed5564', '#fff']">
        </tc-switcher>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button *ngIf="structureFonctionSrv.resourceName|deletable" (click)="remove(row)" tc-button
            [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
  <app-empty-table-message *ngIf="!items.length"></app-empty-table-message>
  <app-structurefonction-new [structure]="structure" (creation)="onCreated($event)"></app-structurefonction-new>
</tc-card>
<app-access-denied *ngIf="!(structureFonctionSrv.resourceName|listable)"></app-access-denied>