<div class="logo-wrap">
  <!-- <img src="{{ src }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}" class="logo-img"> -->
  <div class="row">
    <div class="col-4">
      <!-- <i class="icofont-education icofont-2x"></i> -->
      <tc-avatar [src]="'assets/logos/logo_UIDT.png'"></tc-avatar>
    </div>
    <div class="col-8">
      <span style="font-size: 20px; font-weight: bolder;">GRH <sup
          style="color: black; font-weight: boder;">UIDT</sup></span>
    </div>
  </div>
</div>