<tc-card *ngIf="structureSrv.resourceName|listable" [tcGradient]="lightGradient">
  <tc-card [view]="secondViewBorder" [outline]="true">
    <div class="row">
      <div class="col-12 col-md-6">
        <nz-select [(ngModel)]="selected" (ngModelChange)="setSelected($event)" style="width: 100%;" nzAllowClear nzPlaceHolder="Choisir une structure">
          <ng-container *ngFor="let item of items">
            <nz-option *ngIf="item?.children?.length" [nzValue]="item" [nzLabel]="item.nom"></nz-option>
          </ng-container>
          
        </nz-select>
      </div>
      <div class="col-12 col-md-6">
        <button class="float-right" tc-button afterIcon="icofont-refresh"
          (click)="findOrganigramme()">Rafraichir</button>
      </div>
    </div>
  </tc-card>
  <div class="table-wrap">
    <nz-table #expandTable [nzData]="selectedStructures" class="table-box">
      <thead>
        <tr>
          <th>Actions</th>
          <th>Nom</th>
          <th>Code</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>Etat</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of expandTable.data">
          <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
            <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
              <td>
                <div class="actions">
                  <button *ngIf="structureSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'"
                    [view]="'warning'" [square]="true" [tcShape]="500" [size]="'sm'"
                    [routerLink]="[item.id,'edit']"></button>
                  <button *ngIf="structureSrv.resourceName|deletable" (click)="remove(item)" tc-button
                    [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500"
                    [size]="'sm'"></button>
                  <button *ngIf="structureSrv.resourceName|showable" tc-button [afterIcon]="'icofont-eye-open'"
                    [view]="'accent'" [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[item.id]"></button>
                </div>
              </td>
              <td style="white-space: nowrap;" [nzIndentSize]="item.level! * 20" [nzShowExpand]="!!item.children"
                [(nzExpand)]="item.expand" (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)">
                <span [title]="item.nom" class="nowrap" *ngIf="item.nom">{{ item.nom }}</span>
                <tc-badge view="error" *ngIf="!item.nom">Indéfinie</tc-badge>
              </td>
              <td>
                <span class="nowrap" *ngIf="item.code">{{ item.code }}</span>
                <tc-badge view="error" *ngIf="!item.code">Indéfinie</tc-badge>
              </td>
              <td>
                <span class="nowrap" *ngIf="item.telephone">{{ item.telephone }}</span>
                <tc-badge view="error" *ngIf="!item.telephone">Indéfinie</tc-badge>
              </td>
              <td>
                <span class="nowrap" *ngIf="item.adresse">{{ item.adresse }}</span>
                <tc-badge view="error" *ngIf="!item.adresse">Indéfinie</tc-badge>
              </td>
              <td>
                <ng-container *ngIf="structureSrv.resourceName|editable">
                    <tc-switcher [value]="item.etat" (valueChanged)="onChange($event, item)" name="etat" id="etat" [bgColor]="['transparent', 'transparent', '#ed5564']" [borderColor]="['#ed5564', '#ed5564', '#ed5564']" [color]="['#ed5564', '#ed5564', '#fff']">
                    </tc-switcher>
                </ng-container>
                <ng-container *ngIf="!(structureSrv.resourceName|editable)">
                    <nz-switch [(ngModel)]="item.etat" [nzDisabled]="true"></nz-switch>
                </ng-container>
              </td>              
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
  <app-empty-table-message *ngIf="!items.length"></app-empty-table-message>
  <app-structure-new (creation)="onCreate($event)"></app-structure-new>
</tc-card>
<app-access-denied *ngIf="!(structureSrv.resourceName|listable)"></app-access-denied>