@import '~src/assets/scss/variables';

:host {
    .add-action-box {
        bottom  : 6rem;
        position: fixed;
        right   : 2.5rem;
        z-index : 10;

        .tc-btn {
            font-size: 20px;
        }
    }
}

.rounded-border{
    border-radius: 10px;
}

.size-3{
    font-size: 40px;
    color: #000;
}

.input-padding{
    padding: 10px;
}