<tc-card *ngIf="structureFonctionSrv.resourceName|showable" [tcGradient]="lightGradient">
    <tc-card [view]="secondViewBorder" [outline]="true" [padding]="0.5">
        <div class="row">
            <div class="d-none d-md-block col-md-1">
                <i class="icofont icofont-data icofont-4x"></i>
            </div>
            <div class="col-12 col-md-7">
                <blockquote class="blockquote">
                    <p class="mb-0">{{title}}</p>
                    <footer class="blockquote-footer"> <cite title="Source Title">sous titre</cite></footer>
                </blockquote>
            </div>
            <div class="col-12 col-md-4">
                <button *ngIf="structureFonctionSrv.resourceName|editable"
                    [routerLink]="['/'+orientation,structureFonctionSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
                    class="float-right ml-1" tc-button view="warning" beforeIcon="icofont-edit"></button>
                <button (click)="remove(entity)" *ngIf="structureFonctionSrv.resourceName|deletable" tc-button
                    view="error" beforeIcon="icofont-trash" class=" float-right ml-1"></button>
                <button (click)="findEntity(entity.id)" class="float-right ml-1" tc-button view="accent"
                    beforeIcon="icofont-refresh"></button>
                <button tc-button class="float-right" (click)="location.back()"
                    beforeIcon="icofont-reply"></button>
            </div>
        </div>
    </tc-card>
    <div class="row">
        <div class="col-12 col-md-4">
            <tc-card [outline]="true" [view]="secondViewBorder" [title]="title" [tcGradient]="secondGradient">
                <table class="table">
                                                                                                <tr>
                            <th>Etat</th>
                            <td>
                                <span *ngIf="entity?.etat">{{ entity?.etat }}</span>
                                <tc-badge view="error" *ngIf="!entity?.etat">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                    </table>
            </tc-card>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(structureFonctionSrv.resourceName|showable)"></app-access-denied>