<tc-card *ngIf="entity && commissionSrv.resourceName|editable" [tcGradient]="lightGradient">
    <form #form="ngForm" novalidate>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions justify-content-between">
                <button [outline]="true" type="button" (click)="location.back()" tc-button
                    beforeIcon="icofont-reply">Retour</button>
                <button (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button type="button"
                    view="accent" class="float-right">Rafraichir</button>
            </div>
        </tc-card>
        <tc-card title="Détails" [outline]="true" [view]="secondViewBorder" [tcGradient]="secondGradient">
            <div class="row">
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Nom</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.nom" name="nom" id="nom" #nom="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="nom"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Date création</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" type="Date" [(ngModel)]="entity.dateCreation"
                            name="dateCreation" id="dateCreation" #dateCreation="ngModel">
                        </nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateCreation">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12">
                    <tc-form-group>
                        <tc-form-label>Etat</tc-form-label>
                        <tc-switcher [(ngModel)]="entity.etat" name="etat" id="etat" #etat="ngModel"
                            [bgColor]="['transparent', 'transparent', '#ed5564']"
                            [borderColor]="['#ed5564', '#ed5564', '#ed5564']" [color]="['#ed5564', '#ed5564', '#fff']">
                        </tc-switcher>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="etat"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Missions</tc-form-label>
                        <ckeditor [data]="entity.missions" [required]="true" [(ngModel)]="entity.missions" name="missions" id="missions" #missions="ngModel" [editor]="Editor">
                        </ckeditor>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="missions">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Description</tc-form-label>
                        <ckeditor [data]="entity.description" [required]="true" [(ngModel)]="entity.description" name="description"
                        id="description" #description="ngModel" [editor]="Editor">
                        </ckeditor>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="description">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
        </tc-card>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions">
                <button [outline]="true" type="button" (click)="location.back()" tc-button view="error"
                    beforeIcon="icofont-close">Annuler</button>
                <button type="button" [disabled]="form.invalid" class="float-right" (click)="update()"
                    beforeIcon="icofont-save" tc-button view="warning">
                    Mettre à jour
                </button>
                <button class="float-right mr-1" (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button
                    type="button" view="success">Rafraichir</button>
            </div>
        </tc-card>
    </form>
</tc-card>
<app-access-denied *ngIf="!(commissionSrv.resourceName|editable)"></app-access-denied>