@import '~src/assets/scss/variables';
:host {
    .actions {
        display: flex;
        margin: -$module-rem / 4;
        .tc-btn {
            margin: $module-rem / 4;
        }
    }
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
}