<tc-card *ngIf="paySrv.resourceName|showable" [tcGradient]="lightGradient">
    <tc-card [view]="secondViewBorder" [outline]="true" [padding]="0.5">
        <div class="row">
            <div class="d-none d-md-block col-md-1">
                <i class="icofont icofont-data icofont-4x"></i>
            </div>
            <div class="col-12 col-md-7">
                <blockquote class="blockquote">
                    <p class="mb-0">{{title}}</p>
                    <footer class="blockquote-footer"> <cite title="Source Title">sous titre</cite></footer>
                </blockquote>
            </div>
            <div class="col-12 col-md-4">
                <button *ngIf="paySrv.resourceName|editable"
                    [routerLink]="['/'+orientation,paySrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
                    class="float-right ml-1" tc-button view="warning" beforeIcon="icofont-edit"></button>
                <button (click)="remove(entity)" *ngIf="paySrv.resourceName|deletable" tc-button
                    view="error" beforeIcon="icofont-trash" class=" float-right ml-1"></button>
                <button (click)="findEntity(entity.id)" class="float-right ml-1" tc-button view="accent"
                    beforeIcon="icofont-refresh"></button>
                <button tc-button class="float-right" (click)="location.back()"
                    beforeIcon="icofont-reply"></button>
            </div>
        </div>
    </tc-card>
    <div class="row">
        <div class="col-12 col-md-4">
            <tc-card [outline]="true" [view]="secondViewBorder" [title]="title" [tcGradient]="secondGradient">
                <table class="table">
                                                                                                <tr>
                            <th>Code</th>
                            <td>
                                <span *ngIf="entity?.code">{{ entity?.code }}</span>
                                <tc-badge view="error" *ngIf="!entity?.code">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>Alpha2</th>
                            <td>
                                <span *ngIf="entity?.alpha2">{{ entity?.alpha2 }}</span>
                                <tc-badge view="error" *ngIf="!entity?.alpha2">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>Alpha3</th>
                            <td>
                                <span *ngIf="entity?.alpha3">{{ entity?.alpha3 }}</span>
                                <tc-badge view="error" *ngIf="!entity?.alpha3">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>NomEnGb</th>
                            <td>
                                <span *ngIf="entity?.nomEnGb">{{ entity?.nomEnGb }}</span>
                                <tc-badge view="error" *ngIf="!entity?.nomEnGb">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>NomFrFr</th>
                            <td>
                                <span *ngIf="entity?.nomFrFr">{{ entity?.nomFrFr }}</span>
                                <tc-badge view="error" *ngIf="!entity?.nomFrFr">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                                                <tr>
                            <th>Nationalite</th>
                            <td>
                                <span *ngIf="entity?.nationalite">{{ entity?.nationalite }}</span>
                                <tc-badge view="error" *ngIf="!entity?.nationalite">Indéfinie</tc-badge>
                            </td>
                        </tr>
                                                    </table>
            </tc-card>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(paySrv.resourceName|showable)"></app-access-denied>