<div class="ng-autocomplete">
    <ng-autocomplete [data]="items" [searchKeyword]="keyword" (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
        <a href="javascript:void(0)">
            <span [innerHTML]="item.prenoms"></span>, 
            <span [innerHTML]="item.nom"></span>
        </a>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
    </ng-template>
</div>

<hr>
{{items | json}}