<tc-card [tcGradient]="['#fff','#fff']" *ngIf="structureSrv.resourceName | listable">
    <tc-card [view]="secondViewBorder" [outline]="true">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <nz-select  nzAllowClear nzShowSearch style="width: 50%" name="orientationType" id="orientationType"
                    nzPlaceHolder="Selectionner l'orientation" [(ngModel)]="selectedOrientationType">
                    <ng-container *ngFor="let orientationType of ['horizontal', 'vertical']">
                        <nz-option [nzLabel]="orientationType" [nzValue]="orientationType">
                        </nz-option>
                    </ng-container>
                </nz-select>
            </div>
                <button class="col-sm-2 col-lg-2 col-md-2" tc-button afterIcon="icofont-refresh"
                    (click)="findStructures()">Rafraichir</button>
            <!--</div>-->
        </div>
    </tc-card>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <tc-card style="overflow: scroll;" [view]="secondViewBorder" [outline]="true">
                <ngx-org-chart [nodes]="nodes" [direction]="selectedOrientationType" (itemClick)="openFonctionAdderModal($event)">
                </ngx-org-chart>
            </tc-card>            
        </div>
    </div>
</tc-card>


<nz-modal [nzMaskClosable]="false" [(nzVisible)]="isFonctionModalVisible" [nzClosable]="true" [nzWidth]="'70%'"
    [nzTitle]="fonctionModalTitle" [nzContent]="fonctionModalContent" [nzFooter]="null"
    (nzOnCancel)="isFonctionModalVisible = false">
    <ng-template #fonctionModalTitle>
        <span class="font-weight-bold"> {{ selectedStructure?.nom }} - Gérer les fonctions</span>
    </ng-template>

    <ng-template #fonctionModalContent>
        <app-structurefonction-list [structure]="selectedStructure" ></app-structurefonction-list>
    </ng-template>
</nz-modal>