<tc-card *ngIf="syndicatSrv.resourceName|listable" [tcGradient]="lightGradient">
  <tc-card [view]="secondViewBorder" [outline]="true">
    <div class="row">
      <div class="col-12">
        <button class="float-right" tc-button afterIcon="icofont-refresh" (click)="findAll()">Rafraichir</button>
      </div>
    </div>
  </tc-card>
  <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="handleTabChange($event)">
    <nz-tab *ngFor="let typeEmploye of typeEmployes" [nzTitle]="typeEmploye.code">
      <h3>Liste des syndicats - {{typeEmploye?.nom}} </h3>
      <tc-table [itemsPerPage]="10" [rows]="items" [hovered]="true" [pagination]="true" [search]="true">
        <tc-table-col [columnTitle]="'#'" [columnName]="'filepath'">
          <ng-template #tableTDTemplate let-row="row" let-value>
            <i *ngIf="!value" class="icofont-data icofont-2x"></i>
            <tc-avatar *ngIf="value" [src]="value"></tc-avatar>
          </ng-template>
        </tc-table-col>
        <tc-table-col [columnTitle]="'Nom'" [columnName]="'nom'" [enableSorting]="true">
          <ng-template #tableTDTemplate let-value>
            <span class="nowrap" *ngIf="value">{{ value }}</span>
            <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
          </ng-template>
        </tc-table-col>
        <tc-table-col [columnTitle]="'Code'" [columnName]="'code'" [enableSorting]="true">
          <ng-template #tableTDTemplate let-value>
            <span class="nowrap" *ngIf="value">{{ value }}</span>
            <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
          </ng-template>
        </tc-table-col>
        <tc-table-col [columnTitle]="'Montant Cotisation Mensuelle'" [columnName]="'montantCotisationMensuelle'"
          [enableSorting]="true">
          <ng-template #tableTDTemplate let-value>
            <span class="nowrap" *ngIf="value">{{ value }} FCFA</span>
            <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
          </ng-template>
        </tc-table-col>
        <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
          <ng-template #tableTDTemplate let-row="row">
            <div class="actions">
              <button *ngIf="syndicatSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'" [view]="'warning'"
                [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id,'edit']"></button>
              <button *ngIf="syndicatSrv.resourceName|clonable" [outline]="true" tc-button [afterIcon]="'icofont-copy'"
                [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id,'clone']"></button>
              <button *ngIf="syndicatSrv.resourceName|deletable" (click)="remove(row)" tc-button
                [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
              <button *ngIf="syndicatSrv.resourceName|showable" tc-button [afterIcon]="'icofont-eye-open'" [view]="'accent'"
                [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id]"></button>
            </div>
          </ng-template>
        </tc-table-col>
      </tc-table>
    </nz-tab>
  </nz-tabset>
  <app-empty-table-message *ngIf="!items.length"></app-empty-table-message>
  <app-syndicat-new *ngIf="selectedIndex>-1" [typeEmploye]="typeEmployes[selectedIndex]" (creation)="onCreate($event)"></app-syndicat-new>
</tc-card>
<app-access-denied *ngIf="!(syndicatSrv.resourceName|listable)"></app-access-denied>