<tc-card *ngIf="fonctionEmployeSrv.resourceName|showable" [tcGradient]="lightGradient">
    <tc-card [view]="secondViewBorder" [outline]="true" [padding]="0.5">
        <div class="row">
            <div class="d-none d-md-block col-md-1">
                <i class="icofont icofont-data icofont-4x"></i>
            </div>
            <div class="col-12 col-md-7">
                <blockquote class="blockquote">
                    <p class="mb-0">{{title}}</p>
                    <footer class="blockquote-footer"> <cite title="Source Title">sous titre</cite></footer>
                </blockquote>
            </div>
            <div class="col-12 col-md-4">
                <button *ngIf="fonctionEmployeSrv.resourceName|editable" [routerLink]="['/'+orientation,fonctionEmployeSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']" class="float-right ml-1" tc-button view="warning" beforeIcon="icofont-edit"></button>
                <button (click)="remove(entity)" *ngIf="fonctionEmployeSrv.resourceName|deletable" tc-button view="error" beforeIcon="icofont-trash" class=" float-right ml-1"></button>
                <button (click)="findEntity(entity.id)" class="float-right ml-1" tc-button view="accent" beforeIcon="icofont-refresh"></button>
                <button tc-button class="float-right" (click)="location.back()" beforeIcon="icofont-reply"></button>
            </div>
        </div>
    </tc-card>
    <div class="row">
        <div class="col-12 col-md-4">
            <tc-card [outline]="true" [view]="secondViewBorder" [title]="title" [tcGradient]="secondGradient">
                <table class="table">
                    <tr>
                        <th>DatePriseFonction</th>
                        <td>
                            <span *ngIf="entity?.datePriseFonction">{{ entity?.datePriseFonction }}</span>
                            <tc-badge view="error" *ngIf="!entity?.datePriseFonction">Indéfinie</tc-badge>
                        </td>
                    </tr>
                    <tr>
                        <th>Etat</th>
                        <td>
                            <!-- <span *ngIf="entity?.etat">{{ entity?.etat }}</span>
                            <tc-badge view="error" *ngIf="!entity?.etat">Indéfinie</tc-badge> -->
                            <tc-badge view="success" *ngIf="entity?.etat"><span class="nowrap">En cours</span></tc-badge>
                            <tc-badge view="error" *ngIf="!entity?.etat">Expirée</tc-badge>
                        </td>
                    </tr>
                    <tr>
                        <th>Intérimaire</th>
                        <td>
                            <tc-badge view="success" [outline]="true" *ngIf="entity?.interimaire"><span class="nowrap">Oui</span></tc-badge>
                            <tc-badge view="error" [outline]="true" *ngIf="!entity?.interimaire">Non</tc-badge>
                        </td>
                    </tr>
                </table>
            </tc-card>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(fonctionEmployeSrv.resourceName|showable)"></app-access-denied>