<nz-table #filterTable [nzData]="employes" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumns; trackBy: trackByName" [(nzSortOrder)]="column.sortOrder"
                [nzLeft]="column.nzLeft" [nzSortFn]="column.sortFn" [nzFilters]="column.listOfFilter" [nzRight]="column.nzRight"
                [nzFilterFn]="column.filterFn">
                {{ column.name }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employe of filterTable.data">
            <td nzBreakWord nzLeft>

                {{ employe?.prenoms }}

            </td>
            <td nzBreakWord nzLeft>
                {{ employe?.nom }}
            </td>
            <td nzBreakWord>
                {{ employe?.dateNaissance | date:'dd/MM/yyyy' }}
            </td>
            <td nzBreakWord>
                {{ employe?.lieuNaissance }}
            </td>
            <td nzBreakWord>
                {{ employe?.cni }}
            </td>
            <td nzBreakWord>
                {{ employe?.profession?.nom }}
            </td>
            <td nzBreakWord>
                {{employe?.matriculeCaisseSociale}}
            </td>
            <td nzBreakWord>
                {{employe?.dateRecrutement | date:'dd/MM/yyyy'}}
            </td>
            <td nzBreakWord>
                {{employe?.situtationMatrimoniale}}
            </td>
            <td nzBreakWord> {{employe?.Genre}} </td>
            <td nzBreakWord> {{ employe?.Etat }} </td>
            <td nzBreakWord> {{ employe?.emailUniv }} </td>
            <td nzBreakWord> {{ employe?.email }} </td>
            <td nzBreakWord> {{ employe?.telephonePrimaire }} </td>
            <td nzBreakWord> {{ employe?.telephoneSecondaire }} </td>
            <td nzBreakWord> {{ employe?.nationalite?.nationalite }} </td>
            <td nzBreakWord> {{ employe?.structure?.nom }} </td>
            <td nzBreakWord> {{ employe?.caisseSociale?.nom }} </td>
            <td nzBreakWord> {{ employe?.mutuelleSante?.nom }} </td>
            <td nzBreakWord> {{ employe?.datePriseService | date:'dd/MM/yyyy' }} </td>
        </tr>
    </tbody>
</nz-table>