<div class="row" *ngIf="membreFamilleSrv.resourceName|listable" [ngStyle]="{'background': '#DADCE3'}">
  <div class="col-12 title">
    <h4>Liste des membres de la famille</h4>
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <div class="famille-card m-1">
      <div class="info-box">
        <div class="social">
          <button size="sm" class="ml-2 mr-2" tc-button afterIcon="icofont-refresh" (click)="findByEmploye()"></button>
          <app-membrefamille-new [employe]="employe" (creation)="onCreate($event)"></app-membrefamille-new>
        </div>
      </div>
    </div>
  </div>s
  <div class="col-12 col-md-4 col-lg-3" *ngFor="let item of items">
    <div class="famille-card m-1">
      <div class="info-box">
        <h4 class="name">{{ item.prenoms+' '+item.nom }}</h4>
        <div class="role">
          {{ item.lienParente }}
          <span *ngIf="item?.lienParente=='époux' || item?.lienParente=='épouse'">
              depuis le {{ item.dateMariage|date:'dd/MM/yyyy' }}
            <tc-badge size="xs" view="error" *ngIf="!item.dateMariage">Indéfinie</tc-badge>
          </span>
        </div>
        <p class="address">Né le {{ item.dateNaissance|date:'dd/MM/yyyy' }} à {{item.lieuNaissance}}</p>
        <p class="phone">
          <span>
            <a href="tel:{{item.telephone}}">{{item.telephone}}</a>
          </span>
          <tc-badge size="xs" view="error" *ngIf="!item.telephone">tél non précisé</tc-badge>
        </p>
        <div class="social">
          <button *ngIf="membreFamilleSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'"
            [view]="'warning'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
          <button class="ml-1" *ngIf="membreFamilleSrv.resourceName|deletable" (click)="remove(item)" tc-button
            [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-access-denied *ngIf="!(membreFamilleSrv.resourceName|showable)"></app-access-denied>