<nz-collapse *ngIf="membreCommissionSrv.resourceName|listable" [nzAccordion]="true">
  <nz-collapse-panel nzHeader="Liste des commissions" [nzActive]="true">
    <div class="row">
      <div class="col-12">
        <tc-card>
          <app-membrecommission-new [employe]="employe" *ngIf="employe" (creation)="onCreate($event)">
          </app-membrecommission-new>
          <button class="float-right" tc-button afterIcon="icofont-refresh"
          (click)="findByEmploye()">Rafraichir</button>
        </tc-card>
      </div>
      <div class="col-12">
        <app-empty-table-message *ngIf="!items.length"></app-empty-table-message>
        <tc-table [itemsPerPage]="10" [rows]="items" [hovered]="true" [pagination]="true">
          <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
            <ng-template #tableTDTemplate let-row="row">
              <div class="actions">
                <button *ngIf="membreCommissionSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'"
                  [view]="'warning'" [square]="true" [tcShape]="500" [size]="'sm'"
                  (click)="setSelectedMembreCommission(row)"></button>
                <button *ngIf="membreCommissionSrv.resourceName|deletable" (click)="remove(row)" tc-button
                  [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500"
                  [size]="'sm'"></button>
              </div>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Commission'" [columnName]="'commission'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value?.nom }}</span>
              <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Fonction'" [columnName]="'fonction'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value }}</span>
              <tc-badge [outline]="true" view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Date intégration'" [columnName]="'dateIntegration'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
              <tc-badge [outline]="true" view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Statut'" [columnName]="'statut'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <tc-badge [outline]="true" view="success" *ngIf="value">Actif</tc-badge>
              <tc-badge [outline]="true" view="error" *ngIf="!value">Inactif</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Date de sortie'" [columnName]="'dateSortie'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
              <tc-badge [outline]="true" view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
          <tc-table-col [columnTitle]="'Motif de sortie'" [columnName]="'motifSortie'" [enableSorting]="true">
            <ng-template #tableTDTemplate let-value>
              <span class="nowrap" *ngIf="value">{{ value }}</span>
              <tc-badge [outline]="true" view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
          </tc-table-col>
        </tc-table>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<app-membrecommission-edit *ngIf="selectedMembreCommission" [selectedMembreCommission]="selectedMembreCommission"
  (modification)="findByEmploye()" (onClose)="onClose()"></app-membrecommission-edit>

<app-access-denied *ngIf="!(membreCommissionSrv.resourceName|listable)"></app-access-denied>