<nz-collapse *ngIf="contratSrv.resourceName|listable" [nzAccordion]="true">
    <nz-collapse-panel nzHeader="Liste des contrats qui vont expirer dans 3 mois" [nzActive]="true">
      <div class="row">
      <div class="col-12">
        <tc-card>
          <button class="float-right" tc-button afterIcon="icofont-refresh"
          (click)="findAll()">Rafraichir</button>
        </tc-card>
      </div>
        <div class="col-12 mt-2">
          <app-empty-table-message *ngIf="!items.length"></app-empty-table-message>
          <tc-table [itemsPerPage]="10" [rows]="items" [hovered]="true" [pagination]="true"  [search]="true">
            <tc-table-col [columnTitle]="'Numéro'" [columnName]="'numero'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="nowrap" *ngIf="value">{{ value }}</span>
                <tc-badge size="sm" view="error" *ngIf="!value">Indéfinie</tc-badge>
              </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Employé'" [columnName]="'employe'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value let-row="row">
                <span class="nowrap" *ngIf="value">
                   <a [routerLink]="['/'+orientation,employeSrv.getRoutePrefixWithoutSlash(),row?.id]" routerLinkActive="router-link-active">{{value?.prenoms}} {{value?.nom}} ({{value?.matricule}})</a>
                </span>
                <tc-badge view="error" *ngIf="!value">Indéfinie</tc-badge>
            </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Type contrat'" [columnName]="'typeContrat'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="nowrap" *ngIf="value" title="{{ value?.nom }}">{{ value?.code }}</span>
                <tc-badge size="sm" view="error" *ngIf="!value">Indéfinie</tc-badge>
              </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Date début'" [columnName]="'dateDebut'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
                <tc-badge size="sm" view="error" *ngIf="!value">Indéfinie</tc-badge>
              </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Durée'" [columnName]="'dureeEnMois'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="nowrap badge badge-info" *ngIf="value">{{ value }} mois</span>
                <tc-badge size="sm" view="error" *ngIf="!value">Indéfinie</tc-badge>
              </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Date signature'" [columnName]="'dateSignature'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
                <tc-badge size="sm" view="error" *ngIf="!value">Indéfinie</tc-badge>
              </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Date fin prévu '" [columnName]="'dateFinPrevue'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
                <tc-badge size="sm" view="error" *ngIf="!value">Indéfinie</tc-badge>
              </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Etat'" [columnName]="'etat'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="badge badge-danger" *ngIf="!value">Invalide</span>
                <span class="badge badge-success" *ngIf="value">En cours</span>
              </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Motif fin'" [columnName]="'motifFin'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="nowrap badge badge-primary" *ngIf="value">{{ value }}</span>
                <tc-badge size="sm" view="error" *ngIf="!value">Indéfinie</tc-badge>
              </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Date fin effective'" [columnName]="'dateFinEffective'" [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="nowrap" *ngIf="value">{{ value|date:'dd/MM/yyyy' }}</span>
                <tc-badge size="sm" view="error" *ngIf="!value">Indéfinie</tc-badge>
              </ng-template>
            </tc-table-col>
            <tc-table-col [columnTitle]="'Commentaire fin contrat'" [columnName]="'commentaireSurFinContrat'"
              [enableSorting]="true">
              <ng-template #tableTDTemplate let-value>
                <span class="nowrap" *ngIf="value">{{ value }}</span>
                <tc-badge size="sm" view="error" *ngIf="!value">Indéfinie</tc-badge>
              </ng-template>
            </tc-table-col>
          </tc-table>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  
  <app-access-denied *ngIf="!(contratSrv.resourceName|listable)"></app-access-denied>
