
<div class="row">
    <div class="col-12">
        <app-structure-stats></app-structure-stats>
    </div>
    <div class="col-12">
        <app-profession-stats></app-profession-stats>
    </div>
    <div class="col-12">
        <app-type-employe-stats></app-type-employe-stats>
    </div>
    <div class="col-12">
        <app-grade-employe-global></app-grade-employe-global>
    </div>
    <div class="col-12">
        <app-recrutement-range-stats></app-recrutement-range-stats>
    </div>
    <div class="col-12">
        <app-recrutement-period-stats></app-recrutement-period-stats>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
        <app-anciennete-employe></app-anciennete-employe>
    </div>
    <div class="col-12">
        <app-diplome-stats></app-diplome-stats>
    </div>
    <div class="col-12">
        <app-entree-sortie-stats></app-entree-sortie-stats>
    </div>


    
</div>