<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
        <app-entree-sortie-stats></app-entree-sortie-stats>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
        <app-recrutement-type></app-recrutement-type>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
        <app-recrutement-genre></app-recrutement-genre>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
        <app-recrutement-period-stats></app-recrutement-period-stats>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
        <app-recrutement-range-stats></app-recrutement-range-stats>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
        <app-demission-employe-structure-annee-stats></app-demission-employe-structure-annee-stats>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
        <app-demission-employe-profession-annee-stats></app-demission-employe-profession-annee-stats>
    </div>
   
</div>